@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.mycontainer {
  @apply max-w-7xl mx-auto px-4;
}

.shadowCustom {
  box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
  padding: 45px;
  border-radius: 6px;
}

.slick-dots {
  bottom: 25px !important;
}

.slick-dots li button:before {
  font-size: 25px !important;
  color: white !important;
}

#manageUser table th,
#manageUser table td {
  padding: 10px 0px;
}

#manageUser table tr:nth-child(odd) td {
  background-color: rgb(202, 200, 200);
}

#manageUser table td button {
  background-color: #1dd1a1;
  padding: 6px 12px;
  margin: 0px 10px;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
}

#manageUser table td button:last-child {
  background-color: #54a0ff;
}

span.approve {
  display: inline-block;
  color: #fff;
  background-color: #4ade80;
  padding: 4px 6px;
}

span.pending {
  display: inline-block;
  color: #fff;
  background-color: #eab308;
  padding: 4px 6px;
}

span.deny {
  display: inline-block;
  color: #fff;
  background-color: #ea580c;
  padding: 4px 6px;
}

.playbutton {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.playbutton:hover {
  background-color: transparent;
}

.bg-greens {
  background-color: #302787;
}

.bg-blacks {
  background-color: #20252d;
}

.boxShadow {
  box-shadow: 0 12px 40px rgba(183, 188, 206, 0.35);
}

.classDetails p span {
  font-weight: 600;
  font-size: 18px;
}

#about {
  background-image: url(./assets/bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: #fff;
}

.modal-video {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.active,
.dashboardlink li a:hover {
  color: #ff3b4a !important;
}

.dashboardlink li a,
.dashboardlink li a:hover {
  display: flex !important;
  align-items: center !important;
  gap: 15px !important;
  padding: 10px 15px !important;
  background-color: #20252d !important;
  margin-bottom: 6px !important;
}

table th {
  font-size: 16px;
}

.dashboardRight {
  background-color: #cad5e2;
}

table {
  background-color: #fff;
  padding: 25px 0px;
}

button:disabled {
  opacity: 0.5;
}

@keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.modal-video-effect-exit {
  opacity: 0;
}

.modal-video-effect-exit .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.modal-video-body {
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.modal-video-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  .modal-video-inner {
    padding: 10px 60px;
    box-sizing: border-box;
  }
}

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -45px;
  right: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}

@media (orientation: landscape) {
  .modal-video-close-btn {
    top: 0;
    right: -45px;
  }
}

.modal-video-close-btn:before {
  transform: rotate(45deg);
}

.modal-video-close-btn:after {
  transform: rotate(-45deg);
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border-radius: 5px;
  margin-top: -6px;
}
